<div class="row"  data-ng-init="itens = home.listaCategoria[0]">

	<!-- esquerda -->
	<div class="col-md-3">
		<categoria cor="{{home.primeiros[0].cor}}" href="#subcategoria" icone="{{home.primeiros[0].icone}}" texto="{{home.primeiros[0].nome}}"></categoria>
		<categoria cor="{{home.primeiros[1].cor}}" href="#portfolio-modal" modal="true" icone="{{home.primeiros[1].icone}}" texto="{{home.primeiros[1].nome}}"></categoria>
	</div>

	<!-- centro -->
	<div class="col-md-6">

		<!-- Start Carousel Section -->
		<div class="home-slider" data-ng-include="home.includes.carousel" style="margin-bottom:29px;"></div>
		<!-- <div class="home-slider" data-ng-view style="margin-bottom:29px;"></div> -->
		<!-- Start Carousel Section -->

	</div>

	<!-- direita -->
	<div class="col-md-3">
		<categoria cor="{{home.primeiros[2].cor}}" class="" href="#contact-modal" icone="{{home.primeiros[2].icone}}" texto="{{home.primeiros[2].nome}}"></categoria>
		<categoria cor="{{home.primeiros[3].cor}}" class="" href="#testimonial-modal" icone="{{home.primeiros[3].icone}}" texto="{{home.primeiros[3].nome}}"></categoria>
	</div>
</div>

<div class="row" data-ng-repeat="row in home.listaCategoria">
	<div class="col-md-{{12/row.length}}" data-ng-repeat="cat in row">
		<categoria cor="{{cat.cor || 'transparency'}}" class="{{ cat.nome ? '' : 'teste'}}" href="#about-modal" modal="true" icone="{{cat.icone || 'fa fa-ellipsis-h'}}" texto="{{cat.nome || '.'}}"></categoria>
	</div>
	<!-- <div class="col-md-3"><categoria cor="color"        class="responsive"   href="#service-modal" icone="fa-home"         texto="Para sua casa"></categoria></div>
	<div class="col-md-3"><categoria cor="light-orange" class="responsive-2" href="#team-modal"	   icone="fa-mobile-phone" texto="Eletrônicos e Celulares"></categoria></div>
	<div class="col-md-3"><categoria cor="blue" 		class="" 			 href="#news-modal"    icone="fa-bicycle"      texto="Esportes"></categoria></div> -->
</div>

<style>
div.teste > a > i{color:gray;}
div.teste > a > p{color:gray;}
</style>
