<modal id="{{id}}" title="{{title || 'Selecione um ícone'}}">
	<input type="text" placeholder="pesquisar..." data-ng-model="filtro" class="form-control" />
	<div class="panel-group" id="{{id}}-painel-icones">
		<!-- collapse -->
		<div data-ng-init="filtrado.length=1">
			<div class="panel panel-default" data-ng-repeat="lista in listaIcones" data-ng-show="filtrado.length > 0">

				<div class="panel-heading">
					<a class="panel-title collapsed" data-toggle="collapse" data-parent="#{{id}}-painel-icones" data-target=".panel-element-{{lista.id}}" style="cursor:pointer;">
						<!-- grupo de ícones -->
						{{lista.grupo}}
					</a>

					<!-- exibição dos ícones -->
					<div id="panel-element-{{lista.id}}" class="panel-collapse collapse panel-element-{{lista.id}}">
						<div class="panel-body">
							<button type="submit" class="btn btn-default" data-ng-repeat="icone in filtrado = (lista.icones | filter:filtro)" style="padding:0px;" data-dismiss="modal" ng-click="selecionar(icone)">
								<i class="fa fa-{{icone}}" aria-hidden="true" style="font-size:30px;margin:10px;width:40px;height:30px;color:#1c816c" ></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</modal>
