<div class="container-fluid" style="background-color:white;border-radius:10px;">
	<h1>Inserir Anuncio</h1><hr />
	<div class="col-md-12">
		<form class="form-horizontal" role="form" data-ng-init="vm.aceitaTroca = {'codigo':'S','texto':'Sim'}">


			<!-- <input type="text" placeholder="Locations loaded via $http" uib-typeahead="crct as crct.nome for crct in vm.listaCaracteristica | filter:{nome:$viewValue}" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
		    <input type="text" 																								uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
		    <input type="text" placeholder="Custom template" 			uib-typeahead="crct as crct.nome for crct in vm.listaCaracteristica | filter:{nome:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
		    <input type="text" placeholder="Custom popup template" 		uib-typeahead="crct as crct.nome for crct in vm.listaCaracteristica | filter:{nome:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control"> -->

			<h-checkbutton label="Objetivo do Anúncio:" width="4" ng-model="vm.objetivo" valor-inicial="0" options="[{codigo:'O',texto:'Ofertar'},{codigo:'B',texto:'Buscar Produtos/Serviços'}]"></h-checkbutton>

			<h-line label="Categoria:" width="10">
				<h-select id="idCategoria" label="Categoria: " width="20" ng-model="vm.categoria" options="vm.listaCategoria" valor-inicial="0"></h-select>
			</h-line>

			<h-text-field id="idTitulo"  label="Título:"  width="5" type="text" ng-model="vm.titulo"></h-text-field>
			<h-text-area id="idDescricao"  label="Descrição:"  width="10" type="text" ng-model="vm.descricao"></h-text-area>
			<h-text-field id="idPreco"  label="Preço:"  width="2" type="text" ng-model="vm.preco" placeholder="R$"></h-text-field>

			<h-line label="Características:" width="10">

				<!-- exibe as caracteristicas informadas -->
				<label class="btn btn-warning" data-ng-repeat="item in vm.caracteristicas" data-ng-click="vm.alterarCaracteristica(item)" style="margin:5px;">
					<a style="color:#5d5d5d;font-weight:bold;"> {{item.chave}}: </a>
					<span>{{item.valor}}</span>
				</label>

				<!-- botão Add Categoria -->
				<a class="btn btn-primary" style="font-weight:bold;font-size:20px;padding:0px 15px;" data-ng-click="vm.addCaracteristica=true">+</a>

			</h-line>

			<!-- área para inclusão de caracteristicas -->
			<h-line width="10" data-ng-if="vm.addCaracteristica">
				<div class="jumbotron" style="padding: 10px 5px;">

					<!-- seleção de categorias -->
					<span data-ng-if="!vm.caracteristicaSelecionada">
						<h4 style="margin:1px 5px;">Selecione a caracterísica:</h4>
						<hr style="margin:1px 5px 10px; border-color:#868585;" />
						<label class="btn btn-warning" data-ng-repeat="item in vm.listaCaracteristica" data-ng-click="vm.selecionarCaracteristica(item)" style="margin:5px;">
							<a style="color:#5d5d5d;font-weight:bold;"> {{item.nome}} </a>
						</label>
					</span>

					<!-- salvar característica -->
					<span data-ng-if="vm.caracteristicaSelecionada">
						<label for="idModelo" class="col-sm-2 control-label ng-binding">{{vm.caracteristicaSelecionada.nome}}:</label>

						<div class="row" data-ng-if="vm.exibirSelectDominio">
							<div class="col-sm-5">
								<h-select width="11" ng-model="vm.valorCaracteristica" options="vm.dominio" />
							</div>
							<!-- <span class="col-sm-1" style="cursor:pointer;" data-ng-click="vm.salvarCaracteristica();">
								<button class="btn btn-warning" type="button"><i class="fa fa-check"></i></button>
							</span> -->
						</div>

						<div class="input-group col-sm-8" data-ng-if="!vm.exibirSelectDominio">

							<!-- autocomplete dos valores das caracterísitcas -->
							<input data-ng-if="vm.exibirAutoDominio" type="text" class="form-control" ng-model="vm.valorCaracteristica" placeholder="Informe ou Selecione..." aria-describedby="basic-addon1"
									uib-typeahead="item as item.texto for item in vm.dominio | filter:{texto:$viewValue}"
									typeahead-show-hint="false" typeahead-no-results="vm.noResults"
									typeahead-min-length="0" />


							<input data-ng-if="!vm.dominio.length" type="text" class="form-control" ng-model="vm.valorCaracteristica" placeholder="Informe..." / />

							<!-- botão para salvar a característica e seu valor correspondente -->
							<span class="input-group-btn" style="cursor:pointer;" data-ng-click="vm.salvarCaracteristica();">
								<button class="btn btn-warning" type="button"><i class="fa fa-check"></i></button>
							</span>
						</div>
					</span>

				</div>
			</h-line>

			<h-checkbutton label="Aceita Troca:" width="4" ng-model="vm.aceitaTroca" valor-inicial="0" options="[{codigo:'N',texto:'Não'},{codigo:'S',texto:'Sim'}]"></h-checkbutton>

			<!-- seleciona categorias para troca -->
			<div class="form-group" data-ng-if="vm.aceitaTroca.codigo=='S'">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<div class="jumbotron" style="padding: 10px 5px;">
						<h4>Selecione as categorias de seu interesse para troca:</h4>
						<hr />
						<label data-ng-repeat="item in vm.listaCategoria" class="btn {{item.cor}}" data-ng-click="vm.selecionarCategoriaParaTroca(item)"
							   data-ng-class="{categoriaSelecionadaParaTroca:vm.categoriaSelecionada(item)}" style="width:200px;margin:5px;height:78px;">
							<a data-toggle="false" style="color:white;font-weight:bold;font-size:20px;">
								<i class="fa  {{item.icone}}"></i>
								<p class="ng-binding" style="font-weight:bold;font-size:15px;">{{item.texto}}</p>
							</a>
						</label>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>


<style>
.categoriaSelecionadaParaTroca{border:solid 5px #626262;width:190px;height:68px;}
</style>
