<h1>Inserir Categoria</h1>
<!-- {{vm.listaCategoria}} -->
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<form class="form-horizontal" role="form">

				<h-field id="txtEmail" label="Nome" width="10" type="email"></h-field>

				<h-field id="txtCor" label="Cor" width="10" type="text"></h-field>

				<h-field id="txtIcone" label="Ícone" width="10" type="text"></h-field>

				<h-field id="txtOrdem" label="Ordem" width="10" type="text"></h-field>


<!------------------------------------>
<!------------------------------------>
<div class="form-group">
	<label class="col-sm-2 control-label">
		Cor
	</label>
	<div class="col-sm-10">
		<div class="btn-group" style="width:100% !important;">

			<!-- valor default -->
			<button class="btn {{vm.color ? vm.color.cor : 'color' }} col-sm-4">
				{{vm.color ? vm.color.texto : 'Default' }}
			</button>

			<!-- seta para baixo -->
			<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
				<span class="caret"></span>
			</button>

			<!-- opções para seleção -->
			<ul class="dropdown-menu cols-sm-4">
				<li class="color">			<a href data-ng-click="vm.color={cor:'color',texto:'Default'}">			Default</a>		</li>
				<li class="blue">			<a href data-ng-click="vm.color={cor:'blue',texto:'Azul'}">				Azul</a>		</li>
				<li class="green">			<a href data-ng-click="vm.color={cor:'green',texto:'Verde'}">			Verde</a>		</li>
				<li class="light-red">		<a href data-ng-click="vm.color={cor:'light-red',texto:'Vermelho'}">	Vermelho</a>	</li>
				<li class="light-orange">	<a href data-ng-click="vm.color={cor:'light-orange',texto:'Laranja'}">	Laranja</a>		</li>
			</ul>

		</div>
	</div>

</div>
<!------------------------------------>
<!------------------------------------>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">

							<label>
								<input type="checkbox" /> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="submit" class="btn btn-default">
							Sign in
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
