<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">

						<div class="col-md-12">
							<h3>
								Crie uma conta no Portal Mangueral
							</h3>
						</div>

						<div class="col-md-12">
							<div class="row">

								<div class="col-md-6">

									<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />

								</div>

								<div class="col-md-6 formCadastro" >

									<form name="form" novalidate >

									<div class="panel panel-default">

										<div class="panel-heading">
											<h3 class="panel-title">
												Nome
											</h3>
										</div>

										<div class="panel-body">

												<div class="col-xs-6">

													<div class="form-group">
														<label class="sr-only" for="nome">Nome</label>
														<input type="text" class="form-control"  id="nome" name="nome" data-ng-class="{formInvalid: !form.nome.$valid && form.$submitted}" data-ng-model="ctrl.nome" placeholder="Nome" required>
														<div class="textError" data-ng-show="form.$submitted && !form.nome.$valid">
															<span>Nome obrigatório</span>
														</div>
													</div>
												</div>

												<div class="col-xs-6">

													<div class="form-group">
														<label class="sr-only" for="sobreNome">Sobrenome</label>
														<input type="text" class="form-control" id="sobreNome" name="sobreNome" data-ng-class="{formInvalid: !form.sobreNome.$valid && form.$submitted}" data-ng-model="ctrl.sobreNome" placeholder="Sobrenome" required>
														<div class="textError" data-ng-show="form.$submitted && !form.sobreNome.$valid">
															<span>Sobrenome obrigatório</span>
														</div>
													</div>

												</div>

										</div>

									</div>

									<div class="panel panel-default">

										<div class="panel-heading">
											<h3 class="panel-title">
												Usuário e senha
											</h3>
										</div>

										<div class="panel-body">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="sr-only" for="email">Email</label>
											    <input type="email" class="form-control" id="email" name="email" data-ng-class="{formInvalid: !form.email.$valid && form.$submitted}" data-ng-model="ctrl.email" placeholder="E-mail" required>
													<div class="textError" data-ng-show="form.$submitted && !form.email.$valid">
														<span>E-mail obrigatório</span>
													</div>
										  	</div>
											</div>

											<div class="col-xs-6">
												<div class="form-group">
													<label class="sr-only" for="senha">Senha</label>
													<input type="password" class="form-control" id="senha" name="senha" data-ng-class="{formInvalid: !form.senha.$valid && form.$submitted}" data-ng-model="ctrl.senha" placeholder="Senha" required>
													<div class="textError" data-ng-show="form.$submitted && !form.senha.$valid">
														<span>Senha obrigatória</span>
													</div>
												</div>
											</div>

												<div class="col-xs-6">
													<div class="form-group">
														<label class="sr-only" for="crmSenha">Confirmação</label>
														<input type="password" class="form-control" id="crmSenha" name="crmSenha" data-ng-class="{formInvalid: !form.crmSenha.$valid && form.$submitted}" data-ng-model="ctrl.snConfirmacao" placeholder="Confirme sua senha" required>
														<div class="textError" data-ng-show="form.$submitted && !form.crmSenha.$valid">
															<span>Confirmação obrigatória</span>
														</div>
													</div>

												</div>

										</div>

									</div>

									<div class="panel panel-default">
										<div class="panel-footer">
											<button type="submit" class="btn btn-success btn-block" data-ng-click="form.$valid ? ctrl.cadastrar() : false;">Cadastrar</button>
										</div>
									</div>

									</form>

								</div>

							</div>

						</div>
					</div>

		</div>
	</div>
</div>
