<div class="modal-content col-md-12" style="margin-bottom:29px; height:313px;">

	<!--<categoria cor="blue" href="#subcategoria" icone="fa-automobile" texto="Veiculos"></categoria>-->
	
	<div class="menu-item blue" style="padding: 10px 0px 5px 0px; margin: 10px 0px 10px 0px;">
		<i class="fa fa-automobile" ><span style="font-family: helvetica;word-spacing:10px;"> Veículos</span></i>
		<!-- <p>Veículos</p> -->
	</div>


	<div style="text-align:left;">

		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Carro</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Moto</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Carro</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px #28ABE3;">Caminhão</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Moto</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Carro</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Moto</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px #28ABE3;">Caminhão</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px #28ABE3;">Caminhão</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px silver;">Carro</button>
		<button type="button" class="btn btn-secondary" style="margin:3px;border:solid 3px #28ABE3;">Caminhão</button>

		<hr style="margin: 6px 0px 6px 0px;border: solid 1px silver;">

		
		<div class="row">
			<div class="col-md-2">
				<h4>Marca:</h4>
			</div>

			<div class="col-md-10" style="padding-top:5px;">
				<div kendo-multi-select 
				ng-model="vm.marca.selecionados" 
				k-data-source="vm.marca.lista" 
				k-placeholder="'Marca'" 
				k-data-text-field="'marca'" 
				k-data-value-field="'id'"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Modelo:</h4>
			</div>

			<div class="col-md-10" style="padding-top:5px;">
				<div  	kendo-multi-select 
				ng-model="vm.modelo.selecionados" 
				k-data-source="vm.modelo.lista" 
				k-placeholder="'Marca'" 
				k-data-text-field="'modelo'" 
				k-data-value-field="'id'"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<h4>Ano:</h4>
			</div>
			<div class="col-md-10" style="padding-top:5px;">
				<!-- <div kendo-range-slider ng-model="vm.width" k-tooltip="{ enabled: true }" k-option="vm.ano"></div> -->
				<div range-slider min="1950" max="2016" model-min="vm.ano.min" model-max="vm.ano.max" attach-handle-values="true"></div>
			</div>
		</div>

	</div>
            <!-- 		<div ng-show="vm.marca.selecionados">Marcas Selecionadas: {{vm.marca.selecionados}}</div>
            <div ng-show="vm.modelo.selecionados">Modelos Selecionados: {{vm.modelo.selecionados}}</div> -->	
</div>