<div style="background-color:#f1f1f1;padding:0px 0px 6px;">
	<div class="migalha" data-ng-repeat="item in itens">
		<span class="migalha-indicador" style="">{{$index+1}}</span>
		<span class="migalha-titulo" style=""><h3>{{item}}</h3></span>
	</div>
</div>


<style>
.migalha {display:inline-block;}
.migalha-indicador {border-radius: 67px; font-size: 29px; display: inline-block; background-color: #466a85; color: white; padding: 0px 12px;}
.migalha-titulo {margin-left:5px;margin-right:45px;color:#466a85;display:inline-block;font-family:Comic Sans MS;}
</style>
