<div style="background-color:#f1f1f1;padding:0px 0px 6px;">
	<div class="migalha" data-ng-repeat="item in itens">
		<span class="migalha-indicador" data-ng-class="{'migalha-ativa':migalhaAtiva($index,passo)}">{{$index+1}}</span>
		<span class="migalha-titulo" data-ng-class="{'migalha-ativa':migalhaAtiva($index,passo)}"><h3>{{item}}</h3></span>
	</div>
</div>


<style>
.migalha {display:inline-block;}
.migalha-indicador {border-radius: 67px; font-size: 25px; display: inline-block; padding: 0px 12px; background-color:#949494; color: white;}
.migalha-indicador.migalha-ativa {background-color: #466a85; color: white; font-size:30px;}
.migalha-titulo {margin-left:5px;margin-right:45px;color:#949494;display:inline-block;font-family:Comic Sans MS; font-size:25px;}
.migalha-titulo.migalha-ativa {color: #466a85;font-size:30px;}
</style>
