<!-- aceito trocar por -->
<blockquote class="col-md-12" style="margin-top:-25px;border-left-color:#d0d0d0">
	<div class="col-md-3" style="text-align:right;"><b> Aceito trocar por: </b></div>
	<div class="col-md-9" style="text-align:left;">

		<label class="btn gray" style="width:200px;margin:5px;height:78px;">
			<a data-toggle="false" style="color:white;font-weight:bold;font-size:20px;">
				<i class="fa  fa-automobile"></i>
				<p class="ng-binding" style="font-weight:bold;font-size:15px;margin-bottom:-13px;">Veículos</p>
			</a>
		</label>

	 </div>
</blockquote>
